powerMonitor/nodered.docker/flows.json
[
    {
        "id": "9f8722e1b95e50f8",
        "type": "tab",
        "label": "sendMail",
        "disabled": false,
        "info": "My Particle Boron IoT hub uses this web service to send SMS texts and e-mails when events occur.",
        "env": []
    },
    {
        "id": "7e391eb145ffcd73",
        "type": "http in",
        "z": "9f8722e1b95e50f8",
        "name": "",
        "url": "/sendMail",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 100,
        "wires": [
            [
                "14424be995525d11"
            ]
        ]
    },
    {
        "id": "73ac70fd453bce4c",
        "type": "http response",
        "z": "9f8722e1b95e50f8",
        "name": "",
        "statusCode": "200",
        "headers": {},
        "x": 860,
        "y": 100,
        "wires": []
    },
    {
        "id": "9936cd8efe3e5ce5",
        "type": "simple-sendmail",
        "z": "9f8722e1b95e50f8",
        "name": "",
        "x": 700,
        "y": 100,
        "wires": [
            [
                "73ac70fd453bce4c"
            ]
        ]
    },
    {
        "id": "722983389ba71778",
        "type": "change",
        "z": "9f8722e1b95e50f8",
        "name": "eMail",
        "rules": [
            {
                "t": "set",
                "p": "mail.transport.host",
                "pt": "msg",
                "to": "<smtp.server.hostname>",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "mail.transport.port",
                "pt": "msg",
                "to": "<smtp.server.port>",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "mail.transport.auth.user",
                "pt": "msg",
                "to": "<smtp.service.userid>",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "mail.transport.auth.pass",
                "pt": "msg",
                "to": "<smtp.service.password>",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "mail.options.from",
                "pt": "msg",
                "to": "valid@email.address>",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "mail.options.to",
                "pt": "msg",
                "to": "payload.address",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "mail.options.subject",
                "pt": "msg",
                "to": "payload.subject",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "mail.options.text",
                "pt": "msg",
                "to": "payload.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 490,
        "y": 120,
        "wires": [
            [
                "9936cd8efe3e5ce5"
            ]
        ]
    },
    {
        "id": "14424be995525d11",
        "type": "switch",
        "z": "9f8722e1b95e50f8",
        "name": "",
        "property": "payload.subject",
        "propertyType": "msg",
        "rules": [
            {
                "t": "empty"
            },
            {
                "t": "nempty"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 350,
        "y": 100,
        "wires": [
            [
                "b075da4cf4da0e71"
            ],
            [
                "722983389ba71778"
            ]
        ],
        "inputLabels": [
            "msg.payload.subject"
        ],
        "outputLabels": [
            "empty",
            "not empty"
        ]
    },
    {
        "id": "b075da4cf4da0e71",
        "type": "change",
        "z": "9f8722e1b95e50f8",
        "name": "SMS message",
        "rules": [
            {
                "t": "set",
                "p": "mail.transport.host",
                "pt": "msg",
                "to": "<smtp.server.hostname>",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "mail.transport.port",
                "pt": "msg",
                "to": "<smtp.server.port>",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "mail.transport.auth.user",
                "pt": "msg",
                "to": "<smtp.service.userid>",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "mail.transport.auth.pass",
                "pt": "msg",
                "to": "<smtp.service.password>",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "mail.options.from",
                "pt": "msg",
                "to": "<valid@email.address>",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "mail.options.to",
                "pt": "msg",
                "to": "payload.address",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "mail.options.text",
                "pt": "msg",
                "to": "payload.message",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 520,
        "y": 80,
        "wires": [
            [
                "9936cd8efe3e5ce5"
            ]
        ]
    }
]
